body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    background: #1f2937;
    display: flex;
    color: white;
    padding: 0 64px;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

.header-logo{
    font-weight: 700;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    padding: 8px;
    font-weight: 100;
    font-size: 12px;
}

a {
    color: white;
    text-decoration: none;
}

.hero, .quote, .cta {
    padding: 0 64px;
}

.footer {
    background: #1f2937;
    color: white;
    font-weight: 100;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
}